{% extends 'base.html.twig' %}

{% block title %}Mon compte{% endblock %}

{% block body %}
<div class="container">

    <div class="card" style="border-radius: 15px;">
    <h1 class="text-center"> Bienvenue {{app.user.firstname}} {{app.user.lastname}}</h1>
</div>
</div>
<section class="vh-100 bg-image" style="background-color: #C7C8C9;">
  
          <div class="card" style="border-radius: 15px;">
            <div class="card-body p-5">
              <a href="{{path('show_article')}}
" class="btn mb-2 mb-md-0 btn-outline-secondary btn-block">Voir mes annonces</a>
            </div>
              </div>
              <div class="card" style="border-radius: 15px;"></div>
              <div>
              <a href="{{path('show_message')}}" class="btn mb-2 mb-md-0 btn-outline-secondary btn-block">Voir mes messages</a>
              </div>
              </div>
              <div class="card" style="border-radius: 15px;"></div>
              <a href="" class="btn mb-2 mb-md-0 btn-outline-secondary btn-block">Voir mes infos</a>
              </div>

             

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


{% endblock %}