{% extends 'base.html.twig' %}

{% block body %}
<section class="py-5">
  <div class="mask d-flex align-items-center h-80 gradient-custom-3">
    <div class="container h-80">
      <div class="row d-flex justify-content-center align-items-center h-80">
        
          <div class="card" style="border-radius: 15px;">
            <div class="card-body p-5">
    <form action="{{ path('resetToken') }}" method="post">
        <div class="form-group">
            <label for="exampleInputPassword1">Adresse mail</label>
            <input type="email" placeholder="Saisissez l'adresse mail de récupération" name="email" class="form-control" id="exampleInputPassword1">
        </div>
        <button type="submit">Envoyer</button>
    </form>
    </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}