{% extends 'base.html.twig' %}

{% block body %}
<section class="py-5">
  <div class="mask d-flex align-items-center h-80 gradient-custom-3">
    <div class="container h-80">
      <div class="row d-flex justify-content-center align-items-center h-80">
        
          <div class="card" style="border-radius: 15px;">
            <div class="card-body p-5">
    <form action="{{path('finalReset')}}" method="post">
        <div class="form-group">
            <label for="exampleInputPassword1">Mot de passe</label>
            <input type="password" name="password" class="form-control" id="exampleInputPassword1">
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Confirmer Mot de passe</label>
            <input type="password" name="confirm_password" class="form-control" id="exampleInputPassword1">
        </div>
        <input type="hidden" name="id" value="{{ id }}">
        <button type="submit"> Envoyer</button>
    </form>
    </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}