{% extends 'base.html.twig' %}

{% block title %}Hello BlogController!{% endblock %}

{% block body %}

   <section class="py-5">
  <div class="mask d-flex align-items-center h-80 gradient-custom-3">
    <div class="container h-80">
      <div class="row d-flex justify-content-center align-items-center h-80">
        <div class="col-12 col-md-9 col-lg-7 col-xl-6">
          <div class="card" style="border-radius: 15px;">
            <div class="card-body p-5">
           <h2 class="text-center mb-5">Ajouter un article de blog</h2>
{{form(form)}}
                    </div>
          </div>
        </div>
      </div>
    </div>
  </div>
    </section>





{% endblock %}
