        <footer class="py-5" style="background-color: firebrick;">

<section
    class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom"
  >
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
        <ul><h6 class="text-uppercase fw-bold mb-4">Voiture Vintage</h6></ul>
        <p >A propos</p>
        
        <p >Conditions d'utilisations</p>
        
        <p >information légales</p>
        
        <p >Protection des données</p>
        
        </div>

 
    
     <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
            Espace client 
          </h6>
          <p>
            <a >Connexion</a>
          </p>
          <p>
            <a >inscription</a>
          </p>
          <p>
            <a >aide&information</a>
          </p>
          <p>
            <a  >contact</a>
          </p>
        </div>
        
        <div>
        <h6 class="text-uppercase fw-bold mb-4">
         Service
        </h6>
        <p>Aide</p>
        <p>Annonces auto par marque</p>
        <p>Annonces auto par région</p>
        <p>Devenir sponsor</p>
        </div>

        
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
          
          <h6 class="text-uppercase fw-bold mb-4">
            Contact
          </h6>
          <p><i class="fas fa-home me-3"></i> Paris, 75001 , La Sorbonne </p>
          <p>
            <i class="fas fa-envelope me-3"></i>
            voiture.vintage@hotmail.com
          </p>
          <p><i class="fas fa-phone me-3"></i> +33 1 57 98 96 86</p>
          <i class="bi bi-facebook"></i>
          <i class="bi bi-instagram"></i>
          <i class="bi bi-twitter"></i>
        </div>
        
        
      </div>
     
    </div>
  </section>
 

 
  <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05); text-align:center;">
    Copyright © 2021 voiture vintage Inc. Tous droits réservés.
  </div>
  
</footer>












            <div class="container"><p class="m-0 text-center text-white" style="text-align:center">Copyright &copy; Your Website 2021</p></div>
        </footer>